

.nav-color {
    background-color:black;

}

body{
    background-color:white;

    color:black;
}

p{
    font-weight: 800;
}

footer{
    background-color:white;
}

center{ text-align: center;

}

hr{
    border-width:  8px;
    
    border-color: black;
}